.parallax {
    background-image: url('https://img.freepik.com/free-photo/night-time-cityscape-clear-sky-concepts_53876-14119.jpg?w=996&t=st=1701022908~exp=1701023508~hmac=364d108ad6ed4426483d07d76a24363146d47e909652c12157b5b99c876a078b');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  